<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manes Wichester-home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style>
      nav {
        background-color: rgb(188, 48, 48);
      }
      ul {
        margin-left: 150px;
      }
      li {
        padding: 5px;
      }
      .nav-link {
        color: white;
      }
      .aside {
        padding-top: 70px;
        width: 90%;
        padding-left: 50px;
        align-items: center;
      }
      .social-icons {
        display: flex;
        list-style: none;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div
        class="container"
        style="background-color: maroon; border: 2px solid white"
      >
        <a href="#" class="navbar-brand"
          ><img src="logo.png" class="img-fluid" />
        </a>

        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link active">HOME</a>
            </li>
            <li class="nav-item">
              <a href="about.html" class="nav-link">ABOUT</a>
            </li>
            <li class="nav-item">
              <a href="practices.html" class="nav-link">PRACTICES</a>
            </li>
            <li class="nav-item">
              <a href="ourlawyers.html" class="nav-link">OUR LAWYERS</a>
            </li>
            <li class="nav-item">
              <a href="news.html" class="nav-link">NEWS</a>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--2nd part-->
    <div class="container-fluid" style="background-color: aquamarine">
      <div class="container" style="border: 1px solid black">
        <div class="row" style="background-color: #f8f9fa">
          <div class="col-lg-4 col-sm-6" style="background-color: #f8f9fa">
            <div class="aside">
              <h4 style="padding-left: 30px">This is just a place</h4>
              <h4 style="padding-left: 85px">holder...</h4>
              <h6 style="padding-left: 30px">This is just a place holder,so</h6>
              <h6 style="padding-left: 40px">you can see what the site</h6>
              <h6 style="padding-left: 80px">would look like</h6>
            </div>
          </div>
          <div class="col-lg-8 col-sm-6">
            <img style="width: 100%; height: 300px" src="image-main.jpg" />
          </div>
        </div>
      </div>
    </div>
    <!--3rd part-->
    <div class="container-fluid" style="background-color: rgb(124, 184, 241)">
      <div class="container" style="background-color: rgb(247, 242, 234)">
        <div class="row">
          <div class="col-lg-9 col-sm-6 border-end border-dark">
            <div style="width: 90%; margin-top: 20px">
              <h4>This is just a place holder.</h4>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error
                voluptate laboriosam accusamus inventore autem nobis non qui
                provident dolorem, quis repudiandae sunt soluta quae facere nam
                quasi voluptatibus, recusandae sed!. Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Repudiandae quo voluptate
                nesciunt, quod laudantium aliquam quisquam natus molestiae enim
                iste illo similique magni non asperiores ipsa doloribus
                reprehenderit. Vel, suscipit.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div style="width: 90%; margin-top: 20px">
              <h5>TESTIMONIALS</h5>
              <p style="margin-bottom: 0px">
                You can remove any link to our website from this website
                template. you're free to use this website template without
                linking back to us.
              </p>
              <pre>         -Sharad Yuvraj Patil.</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--4th part-->
    <div class="container-fluid" style="background-color: black; opacity: 0.9">
      <div class="container text-white">
        <h4
          style="
            margin-left: 20px;
            padding-top: 20px;
            color: rgb(242, 164, 177);
          "
        >
          THIS IS JUST A PLACE HOLDER.
        </h4>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-sm-6 col-xs-6">
            <div style="padding: 10px">
              <div class="card" style="width: 14rem">
                <img src="image1.jpg" class="card-img-top" alt="..." />
                <div
                  class="card-body text-dark"
                  style="background-color: rgb(242, 164, 177)"
                >
                  <h5 class="card-title">OUR LAWYERS</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="ourlawyers.html" class="btn btn-light">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-6">
            <div style="padding: 10px">
              <div class="card" style="width: 14rem">
                <img src="image2.jpg" class="card-img-top" alt="..." />
                <div
                  class="card-body text-dark"
                  style="background-color: rgb(242, 164, 177)"
                >
                  <h5 class="card-title">ABOUT</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="about.html" class="btn btn-light">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-6">
            <div style="padding: 10px">
              <div class="card" style="width: 14rem">
                <img src="image3.jpg" class="card-img-top" alt="..." />
                <div
                  class="card-body text-dark"
                  style="background-color: rgb(242, 164, 177)"
                >
                  <h5 class="card-title">LATEST NEWS</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="news.html" class="btn btn-light">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-6">
            <div style="padding: 10px">
              <div class="card" style="width: 14rem">
                <img src="image1.jpg" class="card-img-top" alt="..." />
                <div
                  class="card-body text-dark"
                  style="background-color: rgb(242, 164, 177)"
                >
                  <h5 class="card-title">GET IN TOUCH</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="contact.html" class="btn btn-light">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--5th part-->
    <div class="conainer-fluid bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-sm-4">
            <div style="margin-top: 20px">
              <h5>THIS IS JUST A PLACE HOLDER.</h5>
              <p>
                You can remove any link to our website from this website
                template. you're free to use this website template without
                linking back to us.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div style="margin-top: 20px">
              <h5>YASH TECHNOLOGY</h5>
              <p>
                ADDRESS: Hinjavdi,Pune,Maharashtra<br />PHONE:
                (+20)1234567890<br />EMAIL: Sharadpatil1701@gmail.com
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 pb-3">
            <div style="margin-top: 20px">
              <h5>THIS IS JUST A PLACE HOLDER.</h5>
              <p>
                You can remove any link to our website from this website
                template. you're free to use this website template without
                linking back to us.
              </p>
              <a href="contact.html">
                <button
                  class="btn-btn-primary"
                  style="background-color: rgb(243, 152, 87); color: white"
                >
                  CLICK TO SEND US AN EMAIL
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--footer-->
    <div
      class="container-fluid"
      style="background-color: rgb(188, 48, 48); padding: 10px"
    >
      <div
        class="container"
        style="background-color: rgb(12, 184, 152); border: 2px solid white"
      >
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-6">
            <div class="social-network">
              <ul class="social-icons" style="padding-top: 10px">
                <li>
                  <a href="https:www.facebook.com"
                    ><i class="fa fa-facebook-official"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com"
                    ><i class="fa fa-twitter-square"></i
                  ></a>
                </li>
                <li>
                  <a href="https://linkedin.com"
                    ><i class="fa fa-linkedin-square"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-6">
            <p style="padding-top: 15px; color: white">
              &#169; COPYRIGHT 2023 SHARAD PATIL. ALL RIGHT RESERVED
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
