<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>manes-wichester-practices</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <style>
      nav {
        background-color: rgb(188, 48, 48);
      }
      nav ul {
        margin-left: 150px;
      }
      nav ul li {
        padding: 5px;
      }
      .nav-link {
        color: white;
      }
      .list-group-item a {
        text-decoration: none;
        color: whitesmoke;
      }
      .list-group li {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: rgb(237, 156, 209);
        border: 3px solid white;
      }
      .list-group li:hover {
        background-color: indianred;
      }
      .list-group li a:hover {
        color: black;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div
        class="container"
        style="background-color: maroon; border: 2px solid white"
      >
        <a href="#" class="navbar-brand"
          ><img src="logo.png" class="img-fluid" />
        </a>

        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="home.html" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
              <a href="about.html" class="nav-link">ABOUT</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link active">PRACTICES</a>
            </li>
            <li class="nav-item">
              <a href="ourlawyers.html" class="nav-link">OUR LAWYERS</a>
            </li>
            <li class="nav-item">
              <a href="news.html" class="nav-link">NEWS</a>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--body-->
    <div class="container-fluid" style="background-color: antiquewhite">
      <div class="container" style="background-color: rgb(6, 5, 6)">
        <div class="row">
          <div class="col-lg-4">
            <div style="padding-top: 50px; padding-bottom: 50px">
              <ul class="list-group">
                <li class="list-group-item">
                  <a href="">Prenuptial Agreement</a>
                </li>
                <li class="list-group-item"><a href="">Marriage</a></li>
                <li class="list-group-item"><a href="">Divorce </a></li>
              </ul>
            </div>
          </div>
          <div
            class="col-lg-8"
            style="background-color: rgb(145, 224, 224); color: rgb(7, 7, 7)"
          >
            <div style="text-align: center" class="mt-3 mb-3">
              <h1>PRACTICES</h1>
            </div>
            <p>
              Nav Technologies is not only an expert in SEO Services but also a
              highly regarded Web Design Company with a team of experienced
              designers and developers that can create beautiful websites
              optimized for conversions.
            </p>
            <p>
              In the digital landscape of today's business world, every company
              needs a websiteit acts as your virtual sales rep 24 hours a day,
              seven days a week. If your website isn't mobile friendly, is
              outdated, doesn't convert visitors into leads, or simply isn't up
              to your satisfaction, you need professional website design
              services from a company that makes the process easy. Need a
              website redesign? We do that, too
            </p>
            <p>
              We are a form of Internet marketing that involves creating sharing
              content on social media networks in order to achieve your
              marketing & branding goals.
            </p>
            <p>
              We have experience with converting social media advertising
              investments into more leads and sales. Whether your business is in
              real estate, consumer products, or nonprofits, our social media
              management services position your business for success.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--3rd-->
    <div class="conainer-fluid" style="background-color: aquamarine">
      <div class="container pb-3" style="background-color: antiquewhite">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-4">
            <div style="padding: 10px">
              <div class="card" style="width: 20rem">
                <img src="p1.jpg" class="card-img-top" alt="..." />
                <div
                  class="card-body text-dark"
                  style="background-color: rgb(242, 164, 177)"
                >
                  <h5 class="card-title">Prenuptial Agreement</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div style="padding: 10px">
              <div class="card" style="width: 20rem">
                <img src="p2.jpg" class="card-img-top" alt="..." />
                <div
                  class="card-body text-dark"
                  style="background-color: rgb(242, 164, 177)"
                >
                  <h5 class="card-title">Marriage</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div style="padding: 10px">
              <div class="card" style="width: 20rem">
                <img src="p3.jpg" class="card-img-top" alt="..." />
                <div
                  class="card-body text-dark"
                  style="background-color: rgb(242, 164, 177)"
                >
                  <h5 class="card-title">Divorce</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
